{% extends "navbar.html" %}
{% block content %}
  <div class="jumbotron text-center">
    <h1>Restaurant Finder</h1>
    <div class="row">
      <div class="col-sm-2 col-sm-offset-5">
        <form name="city_selector" role="form" method="post">
          {#          <select name="city" id="city" onchange="this.form.submit()" class="selectpicker">#}
          <select name="city" id="city" class="selectpicker">
            <option selected>Select a city...</option>
            <option value="San Francisco" id="sf"> San Francisco</option>
            <option value="San Jose" id="sj"> San Jose</option>
            <option value="Las Vegas" id="lv"> Las Vegas</option>
            <option value="Los Angeles" id="la"> Los Angeles</option>
          </select> <br>
        </form>
      </div>
    </div>
  </div>

  <div class="container-fluid text-center bg-grey my-hide" id="sfPic">
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <p><a href="/res"><strong>SF1</strong></a></p>
          <img src="../static/image/Frances.jpg" alt="Paris">

        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <p><a href="/res"><strong>SF2</strong></a></p>
          <img src="../static/image/Patisserie.jpg" alt="Paris">


        </div>
      </div>

      <div class="col-sm-4">
        <div class="thumbnail">
          <p><a href="/res"><strong>SF3</strong></a></p>
          <img src="../static/image/Sugarfoot.jpg" alt="Paris">


        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid text-center bg-grey my-hide" id="sjPic">
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">

          <p><a href="/res"><strong>SJ1</strong></a></p>
          <img src="../static/image/Frances.jpg" alt="Paris">

        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">

          <p><a href="/res"><strong>SJ2</strong></a></p>
          <img src="../static/image/Patisserie.jpg" alt="Paris">

        </div>
      </div>

      <div class="col-sm-4">
        <div class="thumbnail">

          <p><a href="/res"><strong>SJ3</strong></a></p>
          <img src="../static/image/Sugarfoot.jpg" alt="Paris">

        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid text-center bg-grey my-hide" id="lvPic">
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <p><a href="/res"><strong>LV1</strong></a></p>
          <img src="../static/image/Sugarfoot.jpg" alt="Paris">


        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <p><a href="/res"><strong>LV2</strong></a></p>
          <img src="../static/image/Frances.jpg" alt="Paris">


        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <p><a href="/res"><strong>LV3</strong></a></p>
          <img src="../static/image/Patisserie.jpg" alt="Paris">

        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid text-center bg-grey my-hide" id="laPic">
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <p><a href="/res"><strong>LA1</strong></a></p>
          <img src="../static/image/Frances.jpg" alt="Paris">


        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <p><a href="/res"><strong>LA2</strong></a></p>
          <img src="../static/image/Patisserie.jpg" alt="Paris">


        </div>
      </div>

      <div class="col-sm-4">
        <div class="thumbnail">
          <p><a href="/res"><strong>LA3</strong></a></p>
          <img src="../static/image/Sugarfoot.jpg" alt="Paris">
        </div>
      </div>
    </div>
  </div>

{% endblock %}
